@using Parts

@page "/"

<PageTitle>Psychologenpraktijk Meesters in Middelstum</PageTitle>

<p>
Welkom op de website van de praktijk van Alie Meesters. Wat goed dat je geïnteresseerd bent in behandeling. Op deze website laat ik je graag zien wat de mogelijkheden voor behandeling zijn. Mocht je twijfelen, dan wil ik graag met je meedenken!
</p>

<p>
Ik ben gezondheidszorgpsycholoog en volg de opleiding tot cognitief gedragstherapeut. Mijn praktijk is gevestigd in Middelstum in een voormalige huisartsenpraktijk. Op deze site vind je onder andere meer informatie over wie ik ben, wat voor behandeling ik aanbied en  hoe je met mij in contact kunt komen.
</p>

<AboutMe />