@namespace Parts

<h3>Verwijzing</h3>

<h4>Voor Verwijzers</h4>
<p>
    U heeft een met een psychisch probleem tegenover u. Als verwijzer bepaalt u aan de hand van de ernst van het probleem welke vorm van geestelijke gezondheidszorg uw cliënt nodig heeft. Verwijst u voor behandeling naar 1nP, dan is uw cliënt verzekerd van op de persoon afgestemde hoogwaardige psychische of psychiatrische behandeling. 
</p>

<h4>Zo verwijst u</h4>
<p>
    U geeft op uw verwijsbrief aan welke vorm van zorg uw cliënt nodig heeft. het is van belang dat uw cliënt zich digitaal bij ons aanmeldt. Een voordeel van cliënten is dat zij bij 1nP zelf een regiebehandelaar kunnen kiezen en dat 1nP nagenoeg geen wachtlijsten kent. De cliënt kan zich met de verwijsbrief zelf aanmelden via deze link 
</p>
<p>
    Een format verwijsbrief die u kunt gebruiken als verwijzing voor vind u door hier  te klikken op verwijsbrief.
</p>

<h4>Cliënten hebben de regie</h4>
<p>
    1nP gelooft in de kracht van de cliënt. Daarom heeft bij 1nP de cliënt zoveel mogelijk zelf de regie, waarbij de zorgprofessional de cliënt coacht bij zijn specifieke zorgvraag en dus in zijn herstel. U wordt als verwijzer gedurende het hersteltraject van uw cliënt op de hoogte gehouden van de ontwikkelingen.
</p>

<h4>Moderne ggz</h4>
<p>
    Voor de coaching en het volgen van het hersteltraject maken we gebruik van ons cliëntenportaal. Dit systeem bestaat uit diverse digitale middelen die passen in het toekomstbeeld van de ggz. Dat is ook een van de unieke eigenschappen van 1nP: we werken landelijk met succes in de voorhoede van de gedigitaliseerde zorgmarkt.
</p>

<h4>Steun van Parnassia Groep</h4>
<p>
    1nP behandelt alle volwassenen en ouderen. De afgelopen twee jaar hebben bijna 5.000 huisartsen de geestelijke gezondheidszorg van hun cliënten aan 1nP toevertrouwd. Een bijkomend voordeel voor u als verwijzer en uw cliënt is dat 1nP onderdeel uitmaakt van Parnassia Groep, waardoor veel kennis in huis is. Hierdoor zijn onze cliënten altijd verzekerd van actuele en effectieve behandelingen. Parnassia Groep heeft contracten met alle zorgverzekeraars.
</p>

<h4>Horizontale doorverwijzing</h4>
<p>
    Binnen 1nP en Parnassia Groep is het wenselijk dat cliënten kunnen worden doorverwezen naar elkaar en dat professionals kunnen samenwerken met elkaar rondom één cliënt. Doorverwijzing en samenwerken vindt plaats als een cliënt sneller of passendere zorg kan krijgen bij een collega binnen de groep. Dit kan ook op verzoek van een cliënt.
</p>
<p>
    Omdat 1nP onderdeel is van de groep noemen we dat doorverwijzing en samenwerking 'Horizontale doorverwijzing'. In de praktijk betekent dit dat de zorgonderdelen informatie aan elkaar uitwisselen. Omdat 1nP en andere zorgonderdelen van Parnassia Groep in een ander dossier registeren, zal er in deze situatie extra informatie moeten worden uitgewisseld. Uiteraard gebeurt dit met toestemming van de cliënt.
</p>

<p>
    Alle informatie hierover inclusief de registratie afspraken vind je in het kwaliteitshandboek onder de titel: 'Doorverwijzen en Samenwerken 1nP en Parnassia Groep'.
</p>
<p>
    Zonder de benodigde informatie kunnen wij de cliënt helaas niet inschrijven.
</p>