@namespace Parts

<h3>Behandeling</h3>

<p>
    Binnen mijn praktijk behandel ik (jong-)volwassenen en ouderen (vanaf 18 jaar). Mijn specialisaties zijn angst- en stemmingsstoornissen. Daarnaast heb ik ook affiniteit met traumabehandeling. 
    Ik behandel o.a. de volgende klachten: angst, paniekaanvallen, piekeren, depressie of somberheid, verlies of rouw, verwerkingsproblematiek, dwanggedachten of dwanghandelingen, klachten na een traumatische gebeurtenissen (zoals slaapproblemen, nachtmerries, herbelevingen), prikkelbaarheid, problemen in het hanteren van emoties, negatief zelfbeeld, burn-out klachten.
</p>

<p>
    Bij andere klachten, die ik hier niet noem, kunt u met mij overleggen over de mogelijkheden tot passende zorg. Aarzel niet om dit te doen. Zo kunnen we samen kijken naar de mogelijkheden, ik denk graag met u mee. 
    Verder verricht ik ook diagnostiek van ontwikkelingsproblematiek (ASS of ADHD) en zet hier zo nodig behandeling op in. 
</p>

<h4>Werkwijze</h4>

<p>
    Nadat de verwijzing binnenkomt of er op een andere manier contact is geweest, bel ik u om kort een indruk te krijgen van uw klachten. Vervolgens wordt u uitgenodigd op de praktijk voor een intake (kennismakingsgesprek). Dit gesprek heeft als doel om goed zicht te krijgen op de onderliggende klachten en ideeën te vormen over het ontstaan hiervan. Veelal bestrijkt dit één of twee gesprekken. In het geval van meer uitgebreide diagnostiek, kan dit tot vijf sessies innemen. Op basis van de informatie uit het intakegesprek volgt een adviesgesprek waarin de diagnose en verschillende behandelmogelijkheden worden besproken. Naast de mogelijkheden in mijn eigen praktijk, bespreek ik ook eventuele alternatieven voor behandeling. 
</p>

<p>
    Als we overeenstemming hebben bereikt over wat er aan de hand is en hoe we uw probleem willen aanpakken, maak ik samen met u een behandelplan. Tenzij u bezwaar heeft, stuur ik in grote lijnen een rapportage naar de huisarts en/of uw verwijzer (na intake, tussentijdse evaluatie en bij afsluiten van de behandeling). De gesprekken vinden plaats bij mij op de praktijk. 
</p>

<p>
    De duur van de behandeling is afhankelijk van de aard, ernst en duur van de klachten. Ik behandel zo kort als mogelijk, maar zo lang als nodig. Tussentijds zijn er evaluatiemomenten om stil te staan bij het verloop van de behandeling wat betreft duur maar ook wat betreft de inhoud, voortgang en samenwerking. 
</p>

<h4>Visie</h4>

<p>
    Ik geloof in het samen onderzoeken waar de problematiek vandaan komt en om op basis van een gezamenlijke visie een behandeling aan te dragen. Dit om te ontwarren waar de klachten vandaan komen en het leren aan te gaan of het een plek te geven. In het algemeen heb ik een klachtgerichte visie en maak ik gebruik van technieken die hierbij passen zoals CGT en EMDR.
</P>

<p>
    Alle gesprekken (intake/advies/behandeling) duren +- 45 minuten.
</p>

<p>
    Ik ben aangesloten bij <a href="https://www.1np.nl/home" target="_blank">1np</a>.
</p>