<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PsycholoogMiddelstum</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overmij">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Over mij
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="behandeling">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Behandeling
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kosten-en-vergoeding">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kosten en vergoeding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="verwijzing">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Verwijzing
            </NavLink>
        </div>
    </nav>
</div>