<div class="navbar">
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="links">
        <div class="nav-item">
            <NavLink class="nav-link" href="home">
                PsycholoogMiddelstum
            </NavLink>
        </div>

        <div class="sub-links">
            <div class="nav-item">
                <NavLink class="nav-link" href="overmij">
                    Over mij
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="behandeling">
                    Behandeling
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="kosten-en-vergoeding">
                    Kosten en vergoeding
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="verwijzing">
                    Verwijzing
                </NavLink>
            </div>
        </div>

    </div>
</div>