@namespace Parts

<div class="about-me-grid">
    <h3 class="header">Over mij</h3>
    <div class="photo">
        <img src="img/alie.jpeg" class="alie" />
    </div>

    <div class="text1">
        <p>
            Ik ben Alie Meesters, woon sinds eind 2022 in het prachtige Middelstum in de oude huisartsenpraktijk. Deze
            bevindt
            zich vlakbij het huidige gezondheidscentrum. Ik woon hier samen met mijn man en kinderen en voel mij erg op
            mijn
            plek. De praktijk is aan huis en ik vind het belangrijk om samen tot een beter begrip van de klachten te
            komen.
        </p>
    </div>

    <div class="text2">
        <p>
            In Groningen heb ik zowel mijn bachelor als master psychologie voltooid. In 2021 voltooide ik de
            (postdoctorale)
            opleiding tot gezondheidszorgpsycholoog. In de tussentijd heb ik niet stilgezeten, ik heb de EMDR en
            Schematherapie
            basiscursus gevolgd en pas (indien nodig) elementen hiervan toe in behandeling. Verder ben ik in opleiding
            tot
            cognitief gedragstherapeut VGCt.
        </p>
    </div>
        
    <div class="text3">
        <p>
            Door de jaren heen heb ik veel dingen gedaan en heb zodoende generalistische (en in enkele gevallen
            specialistische)
            kennis van verschillende problematiek. Hierbij heb ik met regelmaat angst- en somberheidsklachten alsook
            traumagerelateerde klachten behandeld. Verder ben ik een gedegen onderzoeker en verricht ik
            psychodiagnostiek.
            Ik
            heb zowel op een polikliniek voor basis GGZ als SGGZ gewerkt, alsook binnen een FACT team (Optimaal Leven
            Emmen). Ik
            ben dus iemand die breed kennis heeft opgedaan.
            Momenteel ben ik eveneens werkzaam binnen het UCP (Universitaire Centrum Psychiatrie) op de gesloten en open afdeling depressie.
            Hier verblijven mensen met een chronische en/of ernstige depressie die veelal al eerder behandeling hebben gehad met onvoldoende effect. 
            Tevens ben ik stagecöordinator.
        </p>

        <p>
        <h4>Registraties</h4>
        <table>
            <tr>
                <td>Gezondheidszorgpsycholoog, BIG: 39930345325</td>
            </tr>
            <tr>
                <td>AGB Persoonlijk 94110522</td>
            </tr>
            <tr>
                <td>AGB Praktijk 94067420</td>
            </tr>
            <tr>
                <td>Inschrijving KvK 000054379962</td>
            </tr>
        </table>
        </p>

        <p>
        <h4>Lidmaatschappen specialistische verenigingen:</h4>
        <table>
            <tr>
                <td>Vereniging voor gedrags- en cognitieve therapieën (VGCt)</td>
            </tr>
        </table>
        </p>
    </div>
</div>