@namespace Parts

<h3>Kosten en Vergoeding</h3>

<p>
    De praktijk is aangesloten bij Stichting 1nP. Onderstaande informatie is afkomstig van hun website.
</p>

 

<h4>Vergoeding</h4>
<p>
    Parnassia Groep, waaronder Stichting 1nP valt, zorgt ervoor dat er elk jaar een contract is met alle zorgverzekeraars. Uw behandeling valt hierdoor onder ‘gecontracteerde zorg’ en wordt hierdoor vergoed vanuit uw basisverzekering. U kunt wel een rekening van uw zorgverzekeraar ontvangen in verband met het eigen risico.
</p>
<p>
    Uw behandeling in de ggz bestaat uit verschillende onderdelen, waarbij de belangrijkste de gesprekken (consulten) zijn met uw behandelaar, maar ook andere manieren van contact met uw behandelaar vallen hier natuurlijk onder (denk hierbij bijvoorbeeld aan mail contact). Al deze onderdelen heten 'zorgprestaties'.
</p>
<p>
    Deze zorgprestaties  worden door Parnassia Groep namens 1nP bij uw zorgverzekeraar ingediend door middel van een factuur. Zo is voor u duidelijk voor welke zorg u of uw zorgverzekeraar betaalt.
</p>

<h4>Planning = Realisatie</h4>
<p>
    Bij 1nP hanteren wij het principe ‘Planning = Realisatie’. Dit betekent dat uw behandelaar de afspraken inplant in zijn/haar agenda en u deze kunt zien in uw cliëntenportaal. 1nP gaat ervanuit dat deze geplande tijd ook besteed wordt aan uw afspraak (consult).
</p>
<p>
    Als de afspraak 15 minuten of meer van deze geplande tijd is afgeweken, dan moet uw behandelaar deze afspraak aanpassen, zodat er niet te veel of te weinig tijd gefactureerd wordt bij uw zorgverzekeraar. Het is wettelijk geregeld dat afwijkingen minder dan 15 minuten niet aangepast hoeven te worden.
</p>
<p>
    Als u op één dag meerdere keren contact heeft gehad met uw behandelaar (bijvoorbeeld omdat u sms-, of chatberichten heeft uitgewisseld) mag dit als 1 consult worden vastgelegd op die dag. U kunt alle geplande afspraken zien in het cliëntenportaal.
</p>

<h4>No-show</h4>
<p>
    Als u niet op de afspraak kan komen is het belangrijk dat u dit laat weten aan uw behandelaar. Het is fijn als u dit ten minste 24 uur voor een geplande afspraak doet. Anders is er sprake van no-show en mag uw behandelaar aan 1nP vragen om aan u een rekening te sturen van € 75,-
</p>

<h4>Uw factuur</h4>
<p>
    Stichting 1nP maakt onderdeel uit van Parnassia Groep. Op de factuur die wij aan uw verzekeraar sturen, staat niet de naam 1nP vermeld, maar de organisatienaam ‘Parnassia Groep’. Parnassia Groep heeft met alle zorgverzekeraars in Nederland contractafspraken.
</p>
<p>
    U kunt de factuur gemakkelijk controleren omdat u precies kunt zien wie u tijdens een afspraak (consult) heeft gesproken en hoeveel tijd daarvoor in rekening is gebracht. Uw factuur wordt maandelijks ingediend.
</p>
<p>
    Omdat het zorgprestatie model een nieuwe bekostigingssystematiek is, zijn nog niet alle financiële systemen hier klaar voor. Daarom zullen de eerste facturen vanuit 1nP zo spoedig mogelijk worden gestuurd naar uw zorgverzekeraar. U kunt een overzicht van uw zorgverzekeraar verwachten voor het betalen van uw eigen risico over de geleverde zorg vanaf januari 2022.
</p>

<h5>Let u daarbij op dat:</h5>
<p>
    De duur van een consult en het beroep van uw behandelaar het tarief bepaalt;
</p>

<p>
    Een zorgaanbieder mag daarbij uitgaan van de tijd die voor u in de agenda is gepland. Ook als het consult in werkelijkheid iets langer of korter duurde.
</p>

<p>
    Vanaf 2022 wordt het zorgvraagtype verplicht op de factuur vermeld bij de zorgprestaties. Door op hier te klikken vindt u meer informatie over de Zorgvraagtypering. De zorgvraagtypering gaat mee bij iedere declaratie, tenzij er een privacyverklaring is ondertekend.
</p>

<p>
    U kunt in het cliëntenportaal zien welk bedrag Parnassia Groep factureert bij uw zorgverzekeraar. Dit bedrag is niet hetzelfde als het bedrag dat uw behandelaar ontvangt. Er is een opslag in verwerkt voor indirecte tijd (zoals verslaglegging, onderzoek, overleg met collega’s en overhead van 1nP). Als u op de factuur iets ziet wat volgens u niet klopt, neemt u dan gerust contact met ons op.
</p>

<h4>Eigen risico</h4>
<p>
    Voor iedereen van 18 jaar en ouder geldt in Nederland een verplicht eigen risico. In 2024 bedraagt het eigen risico € 385,-. Dit betekent dat je de eerste € 385,- van verzekerde zorgkosten zelf moet betalen. Het kan zijn dat je een hoger eigen risico hebt afgesproken met je zorgverzekeraar. Voor vragen over het eigen risico kun je contact opnemen met jouw zorgverzekeraar.
</p>
<p>
    Indien je in het lopende kalender jaar nog géén of deels gebruik hebt gemaakt van jouw eigen risico en je meld je aan bij Stichting 1nP, dan worden de kosten voor jouw zorgtraject, intake en/of behandeling afgetrokken van jouw verplichte eigen risico.
</p>
<p>
    Wanneer jouw behandeling doorloopt in het nieuwe kalender jaar wordt er opnieuw beroep gedaan op jouw eigen risico.
</p>
<p>
    <p>Voor het gemak leggen we dit uit met een voorbeeld:</p>
    Stel dat je behandeling op 5 maart 2023 is gestart en eindigt op 10 mei 2024. Het eigen risico voor 2023 wordt aangesproken voor het deel van de behandeling dat in 2023 plaatsvond (dus van 5 maart 2023 tot en met 31 december 2023). Het eigen risico van 2024 wordt aangesproken voor het deel dat de behandeling in 2024 plaatsvindt (dus van 1 januari 2024 tot en met 10 mei 2024), tot een maximum van € 385,- per jaar of het door jou vrijwillig afgesloten hoger maximum.
</p>
<p>
    Zie voor verdere informatie ook de website van <a href="https://www.1np.nl/clienten/verzekering-vergoeding" target="_blank">1np</a>.
    Het kan namelijk zijn dat dit in het komende jaar namelijk een beetje anders is.
</p>
<p>
    Als u vragen heeft over uw eigen risico kan u contact opnemen met uw ziektekostenverzekeraar.
</p>

<h3>NIET VERZEKERDE ZORG</h3>
<p>
    Sommige zorg wordt niet door iedere verzekeraar vergoed, zoals een aanpassingsstoornis of burn-out. In Middelstum en omgeving komen veel klachten voor die samen kunnen hangen met aardbevingsproblematiek. Hiervoor kunt u ook bij mij terecht. 
</p>
<p>
    Hierbij is er niet altijd duidelijk of deze zorg vergoed zal worden of dat u deze zelf moet betalen. Ook kunt u er voor kiezen om zelf de behandeling te betalen. Dan is het niet-basispakketzorgtarief (voorheen OVP) van toepassing. Dit bedrag is in 2024 €131,82.
</p>